body {
    background-color: #263A29; 
}

nav {
    background-color: #34495E;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding: 1px;
}

nav a {
    color: white;
    text-decoration: dotted;
    font-style: initial;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

section.profiles {
    text-align: center;
    color: white;
}

section.profiles #Titulo {
    color: #E86A33; 
    font-family: 'Tu Tipo de Letra', Arial, Helvetica, sans-serif;
    font-size: 40px;
}

div.profile-card {
    margin: 20px;
    display: inline-block;
    text-align: left;
    max-width: 90%;
}

div.profile-card img {
    max-width: 100%;
}

div.profile-card p.endfrase {
max-width: 100px;
overflow: hidden;
text-overflow: ellipsis;
}