<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/form.css">
</head>

<body>

  <nav>
    <h2>
      <a th:href="@{/grupo23/controllers/team}" class="link">Team</a>
      <a th:href="@{/grupo23/controllers/project}" class="link">Project</a>
      <a th:href="@{/grupo23/controllers/contactUs}" class="link">Contact us</a>
      <a th:href="@{/grupo23/controllers/requirements}" class="link">requirements</a>
      <a th:href="@{/grupo23/controllers/p_architecture}" class="link">architecture</a>
      <a th:href="@{/grupo23/controllers/develop}" class="link">Develop</a>
      <a th:href="@{/grupo23/controllers/tests}" class="link">Tests</a>
      <a th:href="@{/grupo23/controllers/deployment}" class="link">Deployment</a>
    </h2>
  </nav>


  <form th:action="@{/grupo23/controllers/save-form}" th:object="${form}" method="POST">
    <input type='text' id='name' th:field="*{name}" name='name' />
    <label id='nameError'></label>

    <input type='text' id='lastName' th:field="*{lastName}" name='lastName' />
    <label id='lastNameError'></label>

    <input type='text' id='email' th:field="*{email}" name='email' />
    <label id='emailError'></label>

    <input type='number' id='semester' th:field="*{semester}" name='semester' />
    <label id='semesterError'></label>

    <input type='text' id='description' th:field="*{description}" name='description' />
    <label id='descriptionError'>22/100</label>

    <input type='submit' value='Submit' />

    <label id='errorInfo' th:text="${error}"></label>

  </form>


  <script src='/grupo25/js/VerifyForm.js'></script>
</body>

</html>