<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deployment</title>
    <link rel="stylesheet" href="/grupo23/css/deploymentStyle.css">
</head>
<body>
  <div id="navbar-container">
    <nav>
      <h2>
        <a th:href="@{/grupo23/controllers/team}" class="link">Team</a>
        <a th:href="@{/grupo23/controllers/project}" class="link">Project</a>
        <a th:href="@{/grupo23/controllers/contactUs}" class="link">Contact us</a>
        <a th:href="@{/grupo23/controllers/requirements}" class="link">Requirements</a>
        <a th:href="@{/grupo23/controllers/p_architecture}" class="link">Architecture</a>
        <a th:href="@{/grupo23/controllers/develop}" class="link">Develop</a>
        <a th:href="@{/grupo23/controllers/tests}" class="link">Tests</a>
        <a th:href="@{/grupo23/controllers/deployment}" class="link">Deployment</a>
      </h2>
    </nav>
  </div>
  
  <div class="main-container">
    <h1>Deployment</h1>
    <div class="content-container">
      <div class="image-container">
          <img src="/grupo23/images/docker.png" alt="Docker">
          <h3>DOCKER</h3>
          <img src="/grupo23/images/Jenkins.png" alt="Jenkins">
          <h3>JENKINS</h3>
          <img src="/grupo23/images/Kubernetes.png" alt="Kubernetes">
          <h3>KUBERNETES</h3>
      </div>

      <div id="tools-explanation">
          <p>
              En el desarrollo de nuestra wiki, utilizamos Docker, Jenkins y Kubernetes para </p>
             </p>automatizar el despliegue y asegurar la escalabilidad y la disponibilidad de la aplicación.</p> 
            </p>Docker nos permite contenerizar nuestra aplicación y sus dependencias, facilitando el despliegue</p> 
            </p>consistente en cualquier entorno. Jenkins automatiza las fases de prueba y despliegue, permitiéndonos</p> 
            </p>integrar cambios de forma continua. Finalmente, Kubernetes orquesta nuestros contenedores Docker, gestionando </p>
            </p>el escalado automático y la distribución de carga para manejar eficientemente los recursos y mantener la aplicación </p>
            </p>en funcionamiento de manera continua.</p>
          </p>
      </div>
    </div>
  </div>
  
</body>
</html>