<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Deployment</title>
  <link rel="stylesheet" href="/grupo23/css/deploymentStyle.css">
</head>

<body>
  <div id="navbar-container">
    <nav>
      <h2>
        <a th:href="@{/grupo23/controllers/team}" class="link">Team</a>
        <a th:href="@{/grupo23/controllers/project}" class="link">Project</a>
        <a th:href="@{/grupo23/controllers/contactUs}" class="link">Contact us</a>
        <a th:href="@{/grupo23/controllers/requirements}" class="link">Requirements</a>
        <a th:href="@{/grupo23/controllers/p_architecture}" class="link">Architecture</a>
        <a th:href="@{/grupo23/controllers/develop}" class="link">Develop</a>
        <a th:href="@{/grupo23/controllers/tests}" class="link">Tests</a>
        <a th:href="@{/grupo23/controllers/deployment}" class="link">Deployment</a>
      </h2>
    </nav>
  </div>

  <section class="profiles">
    <h1 id="Titulo">Herramientas de deployment</h1>

    <div class="profile-card">
      <img id="pi" src="/grupo23/images/docker.png" alt="Docker">
      <p> Docker</p>
      <p class="frase">Docker nos permite contenerizar nuestra aplicación y sus dependencias, facilitando el despliegue
        consistente en cualquier entorno.</p>
    </div>

    <div class="profile-card">
      <img id="pi" src="/grupo23/images/Jenkins.png" alt="Jenkins">
      <p> Jenkins</p>
      <p class="frase">Jenkins automatiza las fases de prueba y despliegue, permitiéndonos integrar cambios de forma
        continua.</p>
    </div>

    <div class="profile-card">
      <img id="pi" src="/grupo23/images/Kubernetes.png" alt="Kubernetes">
      <p> Docker</p>
      <p class="frase">Kubernetes orquesta nuestros contenedores Docker, gestionando el escalado automático y la
        distribución de carga para manejar eficientemente los recursos y mantener la aplicación en funcionamiento de
        manera continua.</p>
    </div>

  </section>

</body>

</html>