<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Requirements</title>
  <link rel="stylesheet" href="/grupo23/css/requirementsStyle.css">
</head>

<body>
  <nav>
    <h2>
      <a th:href="@{/grupo23/controllers/team}" class="link">Team</a>
      <a th:href="@{/grupo23/controllers/project}" class="link">Project</a>
      <a th:href="@{/grupo23/controllers/contactUs}" class="link">Contact us</a>
      <a th:href="@{/grupo23/controllers/requirements}" class="link">requirements</a>
      <a th:href="@{/grupo23/controllers/p_architecture}" class="link">architecture</a>
      <a th:href="@{/grupo23/controllers/develop}" class="link">Develop</a>
      <a th:href="@{/grupo23/controllers/tests}" class="link">Tests</a>
      <a th:href="@{/grupo23/controllers/deployment}" class="link">Deployment</a>
    </h2>
  </nav>
  <h1>Requerimientos</h1>

  <div class="requirements">
    <div class="requirement-section">
      <h2>Funcionales</h2>
      <ol>
        <li>El sistema debe permitir a los usuarios registrarse como arrendatarios o arrendadores.</li>
        <li>El sistema debe permitir al arrendatario crear, editar, eliminar y actualizar propiedades para arrendar.
        </li>
        <li>El sistema debe permitir a los arrendatarios solicitar el arrendamiento de una propiedad.</li>
        <li>El sistema debe permitir al arrendador revisar y responder (aceptar o cancelar) solicitudes de arrendamiento de
          propiedades.</li>
          <li>El sistema debe permitir al arrendador verificar los pagos de los arrendatarios.</li>
          <li>El sistema debe permitir al arrendador calificar y comentar la experiencia de un arrendamiento.</li>
          <li>El sistema debe permitir al arrendatario buscar propiedades disponibles filtrándolas por ubicación geográfica.</li>
          <li>El sistema debe permitir al arrendatario pagar un arrendamiento una vez sea aceptado por el arrendador.
          </li>
          <li>El sistema debe permitir al arrendatario calificar propiedades y experiencias de arrendamiento.</li>
      </ol>
      
    </div>

    <div class="requirement-section">
      <h2>No funcionales</h2>
      <ol>
        <li>El sistema debe guardar los datos en una base de datos de MySQL.</li>
        <li>El sistema debe utilizar el framework de SpringBoot y thymeleaf.</li>
        <li>El sistema debe utilizar la API de JPA para las operaciones con la base de datos.</li>
        <li>El sistema debe contar con interfaces de usuario intuitivas y fáciles de usar.</li>
        <li>El sistema debe integrar un sistema de autenticación y autorización para gestionar los permisos de los usuarios.</li>
      </ol>

    </div>

</body>

</html>