<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Team</title>
  <link rel="stylesheet" href="/css/team.css">
</head>

<body>
  <nav>
    <h2>
      <a th:href="@{/grupo23/controllers/team}" class="link">Team</a>
      <a th:href="@{/grupo23/controllers/project}" class="link">Project</a>
      <a th:href="@{/grupo23/controllers/contactUs}" class="link">Contact us</a>
      <a th:href="@{/grupo23/controllers/requirements}" class="link">requirements</a>
      <a th:href="@{/grupo23/controllers/p_architecture}" class="link">architecture</a>
      <a th:href="@{/grupo23/controllers/develop}" class="link">Develop</a>
      <a th:href="@{/grupo23/controllers/tests}" class="link">Tests</a>
      <a th:href="@{/grupo23/controllers/deployment}" class="link">Deployment</a>
    </h2>
  </nav>

  <section class="profiles">
    <h1 id="Titulo">Meet Our Team</h1>
    <div class="profile-card">
      <img id="pi1" src="/images/FP1.png" alt="Profile 1">
      <p> Santiago Castro Zuluaga- Desarrollador UI/UX</p>
      <p>líder técnico</p>
      <p>Lenguajes de programacion</p>
      <ul>
        <li>C++</li>
        <li>Java</li>
        <li>Phyton</li>
        <li>Html</li>
        <li>Css</li>
      </ul>
      <p class="frase">Estudiante de ingeniería de sistemas, con gran pasion en el analisis de datos y el deasrrollo
        web. </p>
    </div>
    <div class="profile-card">
      <img id="pi2" src="/images/FP2.png" alt="Profile 2">
      <p>Matias Gonzales Valencia - Desarrollador Data base</p>
      <p>Líder planeación</p>
      <p>Lenguajes de programacion</p>
      <ul>
        <li>C++</li>
        <li>Java++</li>
        <li>Python</li>
      </ul>
      <p class="frase">Estudiante de ingeniería de sistemas, con especial interés en la ingeniería de software y
        simulación y neurociencia</p>
    </div>
    <div class="profile-card">
      <img id="pi3" src="/images/FP3.png" alt="Profile 3">
      <p>Daniela Martínez Quiroga - Desarrolladora BackEnd</p>
      <p>líder de pruebas</p>
      <p>Lenguajes de programacion</p>
      <ul>
        <li>Java</li>
        <li>Kotlin</li>
        <li>C / C++</li>
        <li>Python</li>
      </ul>
      <p class="frase">Estudiante de ingeniería de sistemas, con especial interés en la ingeniería de software y la
        programación,
        principalmente backend</p>
    </div>
  </section>

</body>

</html>