h1{
    text-align: center;
}

#navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #1a3522, #5b9488);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1px;
}

nav h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav a {
    color: #ffffff;
    text-decoration: none; 
    padding: 0px 0px;
    background-color: transparent;
    transition: all 0.3s ease; 
}

nav a:hover {
    text-decoration: none; 
    transform: scale(1.1);
    background-color: #5b9488; 
    border-radius: 50px; 
}


body {
    background-image: url('/grupo23/images/finca2.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 100px;
}

form {
    background-color: rgba(0, 0, 0, 0.767);
    padding: 15px;
    border-radius: 60px;
    width: 30%;
    display: flex; /* Añade esta línea para hacer que los elementos del formulario se comporten como elementos flexibles */
    flex-direction: column; /* Añade esta línea para hacer que los elementos del formulario se apilen verticalmente */
    align-items: center;
    margin-top: 30px;
}

input[type='text'],
input[type='number'] {
    width: 70%;
    height: 1px;
    padding: 12px;
    margin: 15px 0;
    border-radius: 50px;
    border-width: 3px;
    background: rgba(255, 255, 255, 0.5);
}

input[type='submit'] {
    width: 50%;
    background: linear-gradient(to right, #1a3522, #5b9488);
    border-color: #27503f;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
}

input[type='submit']:hover {
    opacity: 0.8;
}

label {
    color: #fff;
    font-size:15px;
    text-align: center; /* Añade esta línea para centrar los labels */
}