body {
    background-color: #EEDEC5;
    margin-top: 100px;
}

h1{
    text-align: center;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #1a3522, #5b9488);
    padding: 1px;
}

nav h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #ffffff;
}

nav a {
    padding: 0px 0px;
    background-color: transparent;
    transition: all 0.3s ease; 
}

nav a:hover {
    text-decoration: none; 
    transform: scale(1.1);
    background-color: #5b9488; 
    border-radius: 50px; 
}


.requirements {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 30px;
}

.requirement-section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #5b9488;
    border-radius: 100px;
}

.requirement-section h2 {
    text-align: center;
}

.requirement-section ol li {
    margin: 20px 0; /* Adjust this value to increase or decrease the space between the items */
}

.requirement-section ol, h2{
    color: #ffffff;
    margin: 30px;
}
