body {
    background-color: #EEDEC5;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #1a3522, #5b9488);
    padding: 1px;
}

nav h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #ffffff;
}

nav a {
    text-decoration: none; 
    padding: 0px 0px;
    background-color: transparent;
    transition: all 0.3s ease; 
}

nav a:hover {
    text-decoration: none; 
    transform: scale(1.1);
    background-color: #5b9488; 
    border-radius: 50px; 
}

section.profiles {
    text-align: center;
    color: #003314;
}

section.profiles #Titulo {
    color: #003314; 
    font-family: 'Tu Tipo de Letra', Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 100px;
}

div.profile-card {
    align-items: center;
    margin: 20px;
    display: inline-block;
    text-align: left;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    max-height: 650px ;
    transition: border 0.3s; 
    border: 2px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 51, 20, 0.1);
    transition: border 0.3s, opacity 0.3s;
}

div.profile-card:hover {
    border: 2px solid #003314; 
    box-shadow: 0 8px 16px rgba(0, 51, 20, 0.2);
    filter: brightness(1.2);   
}

div.profile-card img {
    max-width: 100%;
}

div.profile-card p.endfrase {
max-width: 100px;
overflow: hidden;
text-overflow: ellipsis;
}

#pi1 {
    width: 300px;
    height: auto;
}

#pi2 {
    width: 300px;
    height: auto;
}

#pi3 {
    width: 111px;
    height: auto;
}