body {
    background-color: #EEDEC5;
    margin-top: 100px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #1a3522, #5b9488);
    padding: 1px;
}

nav h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #ffffff;
}

nav a {
    text-decoration: none; 
    padding: 0px 0px;
    background-color: transparent;
    transition: all 0.3s ease; 
}

nav a:hover {
    text-decoration: none; 
    transform: scale(1.1);
    background-color: #5b9488; 
    border-radius: 50px; 
}
